<div class="card-body mt-4">
 <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
 <form method="post" id="add-planing" (keyup.enter)="onSubmit()" [formGroup]="form">
 <div class="card mx-auto rounded-lg bg-white mb-1">
 <div class="card-header text-center bg-primary text-white">
 <div class="mx-auto">Critères de recherche</div>
 </div>

 <div class="card-body">

 <div class="row">
 <div class="col-3 form-group">
 <div class="text-left"><label for="date_debut">Date début</label> <span style="color:red">
 *</span>
 </div>
 <div [class.has-success]="!form.get('date_debut')?.errors && formSubmitted"
 [class.has-danger]="form.get('date_debut')?.errors && formSubmitted">
 <input class="form-control form-control-sm" id="date_debut" name="date_debut"
 type="date_debut" formControlName="date_debut" type="date"
 [class.is-valid]="!form.get('date_debut')?.errors && formSubmitted"
 [class.is-invalid]="form.get('date_debut')?.errors && formSubmitted">
 </div>
 </div>
 <div class="col-3 form-group">
 <div class="text-left"><label for="date_fin">Date fin</label> <span style="color:red">
 *</span>
 </div>
 <div [class.has-success]="!form.get('date_fin')?.errors && formSubmitted"
 [class.has-danger]="form.get('date_fin')?.errors && formSubmitted">
 <input class="form-control form-control-sm" id="date_fin" name="date_fin" type="text"
 formControlName="date_fin"
 [class.is-valid]="!form.get('date_fin')?.errors && formSubmitted"
 [class.is-invalid]="form.get('date_fin')?.errors && formSubmitted" type="date">
 </div>
 </div>
 <div class="col-6 form-group">
 <div class="text-left"><label for="chauffeur_id">Chauffeur<span style="color:red">
 </span></label>
 </div>
 <div>
 <ng-select bindLabel="text" bindValue="id" id="chauffeur_id" (change)="handleSelectChauffeurChange($event)"
 [items]="dataChauffeurSelect2" appendTo="body" formControlName="chauffeur_id"

 [class.has-success]="!form.get('chauffeur_id')?.errors && formSubmitted"
 [class.has-danger]="form.get('chauffeur_id')?.errors && formSubmitted"
 [placeholder]="'Veuillez sélectionner un chauffeur'">
 </ng-select>
 </div>
 </div>
</div>
<div class="row">

 <div class="col-12 form-group mt-3 text-right">
 <button type="button" class="btn btn-primary mt-2 mr-3" (click)="onSubmit()"
 title="Lancer la recherche">
 <i class="fa fa-search"></i>
 Rechercher
 </button>
 <button type="button" class="btn btn-success mt-2 " (click)="exportPerformancesChauffeur();"
 title="Exporter les notes en excel" [disabled]="!historiquesChauffeurs || historiquesChauffeurs.length == 0">
 <i class="fa fa-file-excel"></i>
 Exporter en Excel
 </button>
 <button type="button" class="btn btn-secondary mt-2 ml-3" (click)="refresh()"
 title="Actualiser le formulaire des critères">
 <i class="fa fa-refresh"></i>
 Rafraichir
 </button>
 </div>
</div>
</div>
</div>
</form>
</div>
</div>

<div class="card-body">
 <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
 <div class="card mx-auto rounded-lg bg-white mb-3">
 <div class="card-header text-center bg-primary text-white">
 <div class="mx-auto text-white">Criteres de Performances Chauffeur ({{historiquesChauffeurs?.length}})</div>
 </div>

 <div class="card-body">
 <form>
 <div class="form-group form-inline float-left">
 <label for="data_par_page">Afficher : &nbsp;</label>
 <select id="data_par_page" name="data_par_page" [ngModel]="itemsPerPage"
 (ngModelChange)="onChangeDataPerPage($event)"
 class="float-left form-control form-control-sm" style="width: auto">
 <option >5</option>
 <option >10</option>
 <option >25</option>
 <option >50</option>
 <option >100</option>
 </select>
 <label>&nbsp; par page</label>
 </div>
 <div class="form-group form-inline float-right">
 <label for="search">Rechercher:</label> <input (ngModelChange)="searchFilter($event.value)"
 style="font-size: 0.875rem;" id="search" class="form-control form-control-sm ml-2"
 type="text" [formControl]="filter" />
 </div>
 </form>
 <table id="bootstrap-data-table"
 class="table table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-striped table-bordered w-100">
 <thead class="bg-primary text-white">
 <tr>
 <th class="text-center" scope="col" sortable="id" (sort)="onSort($event)">N°</th>
 <th class="text-center" scope="col" sortable="libelle" (sort)="onSort($event)">Critères</th>
 <th class="text-center">Note obtenue</th>
 </tr>
 </thead>
 <tbody>

 @for (critere of historiquesChauffeurs | paginationSlice:startPage:endPage; track critere; let index = $index) {
 <tr
 >
 <td class="text-center">{{index+1}}</td>
 <td class="text-left"> {{critere.libelle}} </td>
 <td class="text-center">{{critere.valeur}} </td>
 </tr>
 }

 @if (historiquesChauffeurs?.length == 0) {
 <tr>
 @if (filter.value !== null && filter.value !== undefined && filter.value !== '') {
 <td
 colspan="3" class="text-center">Aucune donnée de performance chauffeur ne correspond votre
 recherche</td>
 }
 @if (filter.value === null || filter.value === undefined || filter.value === '') {
 <td
 colspan="3" class="text-center">Aucune donnée de performance chauffeur n'est disponible actuellement</td>
 }
 </tr>
 }
 </tbody>

 <tfoot>
 <tr>
 <td colspan="3">
 <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems"
 [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="5" [rotate]="true"
 (pageChange)="loadPage($event)"></ngb-pagination>
 </td>
 </tr>
 </tfoot>
 </table>
 </div>
 </div>
</div>
</div>