@font-face {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
  }
  
  @font-face {
    font-family: 'Montserrat-light';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat/Montserrat-Light.otf');
  }
  
  @font-face {
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat/Montserrat-Bold.otf');
  }