<div class="row justify-content-center mb-5">
 <div class="col-md-12">
 <div class="card">

 <div class="card-header couleur-application justify-content-center text-center">
 Recherche des demandes de courses
 </div>

 <div class="card-body">
 <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">

 <form id="form-recherche-demandes-courses" action="" (keyup.enter)="submitSearchForm()" [formGroup]="searchForm" (submit)="submitSearchForm()" method="post">

 <div class="form-group row mb-2 justify-content-center">

 <div class="col-md-6 col-sm-6 col-lg-6">

 <label for="debut" class="col-md-3 col-sm-3 col-lg-3 col-form-label text-left">
 Début :
 </label>

 <div class="col-md-9 col-sm-9 col-lg-9 float-right text-right pt-1"
 [class.has-success]="!searchForm.get('debut')?.errors && formSubmitted"
 [class.has-danger]="searchForm.get('debut')?.errors && formSubmitted">

 <input id="debut" class="form-control" type="date" name="debut"
 formControlName="debut"
 [max]="formattedDate"
 [class.is-valid]="!searchForm.get('debut')?.errors && formSubmitted"
 [class.is-invalid]="searchForm.get('debut')?.errors && formSubmitted"/>

 </div>


 </div>

 <div class="col-md-6 col-sm-6 col-lg-6">

 <label for="fin" class="col-md-3 col-sm-3 col-lg-3 col-form-label text-right">
 Fin :
 </label>

 <div class="col-md-9 col-sm-9 col-lg-9 float-right text-left pt-2"
 [class.has-success]="!searchForm.get('fin')?.errors && formSubmitted"
 [class.has-danger]="searchForm.get('fin')?.errors && formSubmitted">

 <input id="fin" class="form-control" type="date" name="fin"
 formControlName="fin"
 [max]="formattedDate"
 [class.is-valid]="!searchForm.get('fin')?.errors && formSubmitted"
 [class.is-invalid]="searchForm.get('fin')?.errors && formSubmitted"/>

 </div>

 </div>

 </div>

 <div class="form-group row justify-content-center text-center btn-sm">
 <button class="btn btn-sm btn-success" type="submit" [disabled]="this.searchForm.invalid">
 <i class="fas fa-search"></i> Rechercher
 </button>
 </div>

 </form>
 </div>
 </div>
 </div>
 </div>
</div>


<!--<div class="d-flex justify-content-end mb-2">
<div class="col-md-6 text-right">
 <a class="btn btn-primary text-white add-infos" routerLink="/demande/nouveau">
 <i class="fas fa-plus"></i> Ajouter une demande
 </a>
</div>
</div>-->

<!-- DataTables -->
<div class="content mb-3">

 <div class="animated fadeIn">

 <div class="row">
 <div class="col-md-12">
 <div class="card">

 <!-- Sur la liste des demandes de courses -->
 <div class="card-header justify-content-center">

 @if (isRecherche == false) {
 <p class="card-title text-center">
 Historique des demandes de courses du {{this.actualDate | date:'dd/MM/yyyy'}} ({{listeDemandesDeCourses.length}})
 </p>
 }

 @if (isRecherche == true) {
 <p class="card-title text-center">
 Historique des demandes de courses du {{this.debut +' au ' +this.fin}} ({{listeDemandesDeCourses.length}})
 </p>
 }

 </div>

 <div class="card-body">

 <form>
 <div class="form-group form-inline float-left">
 <label for="data_par_page">Afficher : &nbsp;</label>
 <select id="data_par_page" name="data_par_page" [ngModel]="itemsPerPage" (ngModelChange)="onChangeDataPerPage($event)" class="float-left form-control form-control-sm" style="width: auto">
 <option >10</option>
 <option >25</option>
 <option >50</option>
 <option >100</option>
 </select>
 <label>&nbsp; par page</label>
 </div>
 <div class="form-group form-inline float-right">
 <label for="search">Rechercher:</label> <input (ngModelChange)="searchFilter($event.value)" style="font-size: 0.875rem;" id="search" class="form-control form-control-sm ml-2" type="text" [formControl]="filter"/>
 </div>
 </form>

 <table id="bootstrap-data-table" class="table table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-striped table-bordered w-100">
 <thead class="bg-primary text-white">
 <tr>

 <th class="text-center" scope="col" sortable="date" (sort)="onSort($event)">Date</th>
 <th class="text-center" scope="col" sortable="user" (sort)="onSort($event)">Bénéficiaire</th>
 <th class="text-center" scope="col" sortable="type_vehicule" (sort)="onSort($event)">Catégorie</th>
 <th class="text-center" scope="col" sortable="point_depart" (sort)="onSort($event)">Point de départ</th>
 <th class="text-center" scope="col" sortable="point_destination" (sort)="onSort($event)">Destination</th>
 <th class="text-center" scope="col" sortable="date_depart" (sort)="onSort($event)">Date départ</th>
 <th class="text-center" scope="col" sortable="date_retour" (sort)="onSort($event)">Date retour</th>
 <th class="text-center" scope="col" sortable="statut" (sort)="onSort($event)">Statut</th>
 <th class="text-center" scope="col" sortable="vehicule" (sort)="onSort($event)">Véhicule</th>
 <th class="text-center" scope="col" sortable="chauffeur" (sort)="onSort($event)">Chauffeur</th>
 <th class="text-center" scope="col" sortable="id" (sort)="onSort($event)">Actions</th>

 </tr>
 </thead>
 <tbody>

 @for (demande of listeDemandesDeCourses | paginationSlice:startPage:endPage; track demande; let index = $index) {
 <tr>
 <td class="text-center">{{demande?.date | date:'dd/MM/yyyy à HH:mm'}}</td>
 <ng-container>
 @if (demande?.beneficiaire_id) {
 <td class="text-center">{{demande?.beneficiaire?.prenom +' ' +demande?.beneficiaire?.nom}}</td>
 }
 @if (demande?.beneficiaire_id == null) {
 <td class="text-center">{{demande?.user.prenom +' ' +demande?.user.nom}}</td>
 }
 </ng-container>
 <td class="text-center">{{demande?.type_vehicule?.libelle}}</td>
 <td class="text-center">{{demande?.point_depart}}</td>
 <td class="text-center">{{demande?.point_destination}}</td>
 <td class="text-center">{{demande?.date_depart | date:'dd/MM/yyyy'}} à {{demande?.heure_depart?.substring(0,5)}}</td>
 <td class="text-center">{{demande?.date_retour | date:'dd/MM/yyyy'}} à {{demande?.heure_retour?.substring(0,5)}}</td>
 <td class="text-center">{{demande?.statut}}</td>
 <td class="text-center">{{demande?.affectation?.vehicule?.immatr}}</td>
 @if (demande?.affectation?.chauffeur?.user) {
 <td class="text-center">
 {{demande?.affectation?.chauffeur?.user.nom +' ' +demande?.affectation?.chauffeur?.user.prenom}}
 </td>
 }
 @if (!(demande?.affectation?.chauffeur?.user)) {
 <td class="text-center">
 </td>
 }
 <td class="text-center">
 <a class="cursor-pointer mx-2">
 <i class="fa fa-eye text-primary" placement="top" ngbTooltip="Voir les détails" (click)="jumpToDemandeCourseDetails(demande.id)"></i>
 </a>
 @if (demande?.statut == environment.STATUT_DEMANDE_COURSE_TERMINEE && demande.is_note==true) {
 <a class="cursor-pointer">
 <i class="fa fa-star text-warning" placement="top" ngbTooltip="Voir la note" (click)="jumpToNoteCourse(demande.id)"></i>
 </a>
 }
 </td>
 </tr>
 }

 @if (listeDemandesDeCourses.length == 0) {
 <tr>
 @if (filter.value !== null && filter.value !== undefined && filter.value !== '') {
 <td colspan="10" class="text-center">Aucune demande de course ne correspond à votre recherche</td>
 }
 @if (filter.value === null || filter.value === undefined || filter.value === '') {
 <td colspan="10" class="text-center">Aucune demande de course n'est enregistrée pour le moment</td>
 }
 </tr>
 }

 </tbody>

 <tfoot>
 <tr>
 <td colspan="10">
 <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
 </td>
 </tr>
 </tfoot>

 </table>
 </div>
 </div>
 </div>


 </div>
 </div><!-- .animated -->
</div>

<!-- Modal pour affecter une course à un chauffeur -->

<ng-template #affectationCourse let-modal>

 <div class="modal-header">
 <h4 class="modal-title" id="affectation-modal-basic-title">Affectation de course</h4>
 </div>

 <div class="modal-body">

 <form action="" method="" (keyup.enter)="onSubmit()" [formGroup]="form" (submit)="onSubmit()">

 <div class="row">

 <div class="col-6 form-group">

 <div class="text-left"><label for="vehicule">Véhicule</label> <span style="color:red"> *</span>
 </div>

 <div>

 <ng-select
 id="vehicule"
 (change)="handleSelectVehiculeChange($event)"
 [items]="dataVehiculeSelect2"


 [placeholder]="'Veuillez sélectionner un véhicule'">

 </ng-select>

 </div>

 </div>

 <div class="col-6 form-group">

 <div class="text-left"><label for="chauffeur">Chauffeur</label> <span style="color:red"> *</span>
 </div>

 <div>

 <ng-select
 id="chauffeur"
 (change)="handleSelectChauffeurChange($event)"
 [items]="dataChauffeurSelect2"


 [placeholder]="'Veuillez sélectionner un chauffeur'">

 </ng-select>

 </div>

 </div>

 </div>

 <div class="modal-footer">

 <div class="mx-auto">
 <button class="btn btn-secondary" type="reset" (click)="modal.close('Save click')">Annuler</button>
 <button class="btn btn-success ml-3" [disabled]="!this.form.valid" type="submit">Valider</button>
 </div>

 </div>

</form>

</div>

</ng-template>

<!-- Modal pour supprimer la demande de course -->
<ng-template #suppressionDemande let-modal>

 <div class="modal-header">
 <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
 </div>

 <div class="modal-body">

 <form action="" method="post" class="my-unique-form">

 <div class="row mb-2 pl-2 pr-2" id="suppression-demande">
 <p class="text-center">
 Voulez-vous vraiment supprimer cette demande ?
 </p>
 </div>
 <div class="text-center my-border-top-footer">

 <button type="button" class="btn btn-sm btn-secondary mx-2 text-black" (click)="modal.close('Save click')">NON</button>
 <button id="bouton-action-activer" type="submit" (click)="deleteDemandeCourse()" class="btn btn-sm btn-danger btn-submit-unique-form">OUI</button>

 </div>

 </form>

 </div>

</ng-template>

