<div class="col-10 p-0 mx-auto">

 <div class="col-md-6 ml-0 mb-2">
 <div class="justify-content-start">
 <a routerLink="/demande/encours" class="btn btn-sm btn-secondary add-infos text-white menu-font">
 <i class="fas fa-backward"></i> Retour
 </a>
 </div>
 </div>

</div>

<div class="mb-3">
 <div class="col-10 p-0 card mx-auto">
 <div class="card-header text-center bg-primary">
 <h6 class="mx-auto text-white">Détails de la demande de course</h6>
 </div>
 <div class="col-8 mx-auto card-body text-center">

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Auteur :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.user.prenom +' ' +demandeCourse.user.nom}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Bénéficiaire :</h6>
 </div>
 <div class="col-6 text-left">
 @if (demandeCourse.beneficiaire_id) {
 <p class="d-inline card-text">{{demandeCourse.beneficiaire.prenom +' ' +demandeCourse.beneficiaire.nom}}</p>
 }
 @if (demandeCourse.beneficiaire_id == null) {
 <p class="d-inline card-text"> {{demandeCourse.user.prenom +' ' +demandeCourse.user.nom}} </p>
 }
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Point de départ :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.point_depart}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Destination :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.point_destination}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Date depart :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.date_depart | date:'dd/MM/yyyy'}} à {{demandeCourse.heure_depart.substring(0,5)}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Date retour :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.date_retour | date:'dd/MM/yyyy'}} à {{demandeCourse.heure_retour.substring(0,5)}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Nombre de personnes :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.nbre_personnes}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Escales :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.escales}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Type de véhicule :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.type_vehicule.libelle}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Motif :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.motif.libelle}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Objet :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.objet}}</p>
 </div>
 </div>

 <div class="col mx-auto mb-3 d-flex justify-content-between">
 <div class="col-6 text-right">
 <h6 class="d-inline card-title">Statut :</h6>
 </div>
 <div class="col-6 text-left">
 <p class="d-inline card-text">{{demandeCourse.statut}}</p>
 </div>
 </div>

 </div>
 <div class="card-footer d-flex justify-content-center">

 <div class="d-inline mx-2">
 @if (demandeCourse.statut == environment.STATUT_DEMANDE_COURSE_TERMINEE && demandeCourse.is_note == false) {
 <button class="btn btn-warning" type="button" [routerLink]="['/demande/notation/'+demandeId]">
 <i class="fa fa-star" placement="top" ngbTooltip="Noter la course"> </i> Noter
 </button>
 }
 </div>

 @if (demandeCourse.statut == environment.STATUT_DEMANDE_COURSE_CREEE && utilsService.isAdmin()) {
 <div class="d-inline mx-2">
 <button class="btn btn-success" type="button" (click)="isUpdatingNotAffect();openAffectationModal(affectationCourse, demandeCourse)">
 <i class="fa fa-car-side"> </i> Affecter
 </button>
 </div>
 }

 @if (demandeCourse.statut == environment.STATUT_DEMANDE_COURSE_AFFECTEE && utilsService.isAdmin()) {
 <div class="d-inline mx-2">
 <button class="btn btn-success" type="button" (click)="isUpdatingAffect();openAffectationModal(affectationCourse, demandeCourse);">
 <i class="fa fa-car-side"> </i> Modifier l'affectation
 </button>
 </div>
 }

 <div class="d-inline mx-2">
 @if (demandeCourse.statut == environment.STATUT_DEMANDE_COURSE_CREEE) {
 <button class="btn btn-danger" type="button" (click)="open_lg(suppressionDemande, demandeCourse)">
 <i class="fa fa-trash" placement="top" ngbTooltip="Affecter cette course a un chauffeur"> </i> Supprimer
 </button>
 }
 </div>

 </div>
 </div>
</div>


<ng-template #affectationCourse let-modal>

 <div class="modal-header">
 <h4 class="modal-title" id="affectation-modal-basic-title">Affectation d'une course à un chauffeur</h4>
 <button type="button" (click)="this.utilsService.closeModal()" class="close" data-dismiss="modal" aria-label="Close">
 <span aria-hidden="true">&times;</span>
 </button>
 </div>

 <div class="modal-body">

 <form action="" method="" (keyup.enter)="onSubmit()" [formGroup]="form" (submit)="onSubmit()">

 <div class="row">

 <div class="col-6 form-group">

 <div class="text-left"><label for="vehicule">Véhicule</label> <span style="color:red"> *</span>
 </div>

 <div>

 <ng-select
 bindLabel="text"
 bindValue="id"
 id="vehicule"
 (change)="handleSelectVehiculeChange($event)"
 [items]="dataVehiculeSelect2"
 appendTo="body" formControlName="vehicule"

 [placeholder]="'Veuillez sélectionner un véhicule'">

 </ng-select>

 </div>

 </div>

 <div class="col-6 form-group">

 <div class="text-left"><label for="chauffeur">Chauffeur</label> <span style="color:red"> *</span>
 </div>

 <div>

 <ng-select
 bindLabel="text"
 bindValue="id"
 id="chauffeur"
 (change)="handleSelectChauffeurChange($event)"
 [items]="dataChauffeurSelect2"
 appendTo="body" formControlName="chauffeur"

 [placeholder]="'Veuillez sélectionner un chauffeur'">

 </ng-select>

 </div>

 </div>

 </div>

 <div class="modal-footer">

 <div class="mx-auto">
 <button class="btn btn-secondary" type="reset">Annuler</button>
 <button class="btn btn-success ml-3" [disabled]="!this.form.valid" type="submit">Valider</button>
 </div>

 </div>

</form>

</div>

</ng-template>


<!-- Modal pour supprimer la demande de course -->
<ng-template #suppressionDemande let-modal>

 <div class="modal-header">
 <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
 <button type="button" (click)="this.utilsService.closeModal()" class="close" data-dismiss="modal" aria-label="Close">
 <span aria-hidden="true">&times;</span>
 </button>
 </div>

 <div class="modal-body">

 <form action="" method="post" class="my-unique-form">

 <div class="row mb-2 pl-2 pr-2" id="suppression-demande">
 <p class="text-center">
 Voulez-vous vraiment supprimer cette demande ?
 </p>
 </div>
 <div class="text-center my-border-top-footer">

 <button type="button" class="btn btn-sm btn-secondary mx-2 text-black" (click)="modal.close('Save click')">NON</button>
 <button id="bouton-action-activer" type="submit" (click)="deleteDemandeCourse()" class="btn btn-sm btn-danger btn-submit-unique-form">OUI</button>

 </div>

 </form>

 </div>

</ng-template>
